*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .home{
        flex-direction: column;
        padding: 0 3%
    }
    .home-img img{
        width: 16rem;
        position: relative;
        margin-top: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-mobile{
        opacity: 0;
        height: 0;
        width: 0;
        display: none;
    }
    .navegacao {
        display: none;
        opacity: 0;
        
    }
    .logo{
        width: 40px;
        font-size: 20px;
    }
    .navegacao-menu{
        background-color: #101113;
        width: 40vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -30rem;
        position: relative;
        opacity: 1;
        margin-left: 60vw;
    }

    .hide{
        opacity: 0;
        width: 0;
        height: 0;
        display: none;
    }

    .navegacao-menu a{
        color: #fff;
        text-decoration: none;
        gap: 80px;
        font-size: 2rem;
    }
}

@media (max-width:450px) {
    .home-img img{
        width: 7rem;
        height: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home-img{
        height: 30%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main {
        display: none;
        height: 0;
        width: 0;
        opacity: 0;
        margin: 0;
    }
    .main-mobile{
            
            display: flex;
            width: 80%;
            height: 70px;
            align-items: center;
            margin-top: 20px;
            flex-direction: row;
            justify-content: space-around;
            opacity: 1;
    }
    .main-mobile li img{
        width: 30px;
        height: 30px;
        line-height: 1.2;
    }
    .row{
        height: 60px;
        width: 60px;
    }
    .row2 {
        height: 60px;
        width: 60px;
    }
    .row3{
        height: 60px;
        width: 60px;
    }
    .logo{
        width: 15px;
        font-size: 15px;
    }
    .logo{
        width: 20px;
        font-size: 20px;
    }
    .navegacao-menu{
        background-color: #101113;
        width: 50vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 50%;
        opacity: 1;
    }
    .navegacao-menu a{
        font-size: 28px;
        display: flex;
        align-items: center;
        margin: 5px;
        justify-content: center;
        transition: all .5s ease;
    }
    .navegacao-menu a:hover{
        color: #34e7f8
    }
    .hide{
        opacity: 0;
        width: 0;
        height: 0;
        display: none;
    }
    .home-img img{
        margin-top: 7rem;
    }
    .home-text{
        
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        margin-bottom: 140px;
        padding: 0;
        width: 80%;
}
    .home-text h1{
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }
    .home-text h5{
        margin-bottom: 20px;
    }
    .home-text h3{
        font-size: 30px;
        display: flex;
        align-items: start;
        margin-bottom: 30px;
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 50px;
    }
}
@media (max-width: 435px) {
    .home-text{
        position: absolute;
        margin-bottom: 135px;
}
}
@media (max-width: 414px) {
    .home-text{
        position: absolute;
        bottom: 0;
        margin-bottom: 125px;
}
}
@media (max-width: 412px) {
    .home-text{
        position: absolute;
        bottom: 0;
        margin-bottom: 185px;
}
}
@media (max-width: 395px) {
    .home-text{
        position: absolute;
        bottom: 0;
        margin-bottom: 110px;
}
}
@media (max-width: 395px) {
    .home-text{
        position: absolute;
        bottom: 0;
        margin-bottom: 95px;

}}
@media (max-width: 375px) {
    .home-text{
        position: absolute;
        margin-bottom: 20px;
        width: 80%;
}
}
@media (max-width: 360px) {
    .home-text{
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 20px;
        width: 80%;
}
}

@media (max-width:320px) {
    .main{
        display: flex;
        width: 80%;
        height: 0%;
        align-items: end;
        flex-direction: row;
        border: 1px solid brown;
    }
    .main-mobile li img{
        width: 30px;
        height: 30px;
        line-height: 1.2;
    }
    .row{
        height: 50px;
        width: 50px;
    }
    .row2{
        height: 50px;
        width: 50px;
    }
    .row3{
        height: 50px;
        width: 50px;
    }
    .logo{
        width: 15px;
        font-size: 15px;
    }
    .navegacao-menu{
        width: 50vw;
        padding: 50px 30px;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -30rem;
        position: relative;
        opacity: 1;
        margin-left: 50vw;
    }
    .hide{
        opacity: 0;
        width: 0;
        height: 0;
        display: none;
    }
    .home-img img{
        margin-top: 6rem;
        height: 5rem;
        width: 5rem;
    }
    .home-text{
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 80%;
    }
    .home-text h1{
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    .home-text h5{
        margin-bottom: 15px;
    }
    .home-text h3{
        font-size: 30px;
        display: flex;
        align-items: start;
        margin-bottom: 30px;
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 50px;
    }
} 
